<footer class="site-footer">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 114 26.6" class="logo" width="8rem" fill="var(--logo-color, #000)"></svg>
  <p>© {{ "now" | date("YYYY") }} escnyc.com. All rights reserved.</p>
</footer>
